*{
    padding: 0;
    margin: 0;
   
}
section{
    display: flex;
}

.container{
    border: 2px solid black;
 width: 99vw;
 height: 98vh;
 display: flex;
 flex-direction: row;
}

.colorPlate{
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.paintArea{
    display: grid;
    grid-template-columns: repeat(24,1fr) ;
    grid-template-rows: repeat(60,1fr) ;
    border: 2px solid rgb(29, 42, 221);
    width: 75vw;
    justify-content: space-between;
}

.btnDiv{
border: 2px solid greenyellow;
height: 15%;
}

.color{
    border: 2px solid rgb(0, 162, 255);
    height: 85%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 4px;
}

.colors{
 border: 2px solid black;
}